---
import { Icon } from 'astro-icon/components'
import NavLink from '@ui/units/NavLink.astro'
import NavIcon from '@ui/units/NavIcon.astro'
import ThemeToggle from '@ui/units/ThemeToggle.astro'
import { SITE_TITLE, MENU, SOCIALS } from '@/consts'
---

<header class="@container/header">
  <nav
    class="bg-fill @container grid grid-cols-2 border-b border-gray-300 px-6 py-4 transition-colors md:grid-cols-3 dark:border-zinc-700"
  >
    <section class="justify-start">
      <a href="/">
        <h2 class="text-primary text-lg font-bold md:text-xl">{SITE_TITLE}</h2>
      </a>
    </section>
    <section class="hidden justify-center gap-6 md:flex">
      {
        MENU.filter((item) => item.active).map((item) => {
          return <NavLink href={item.url}>{item.title}</NavLink>
        })
      }
    </section>
    <section class="justify-end gap-4">
      {
        SOCIALS.map((item) => {
          return (
            <NavIcon href={item.url}>
              <Icon name={item.icon} size={24} />
            </NavIcon>
          )
        })
      }
      <ThemeToggle />
    </section>
  </nav>
</header>

<style>
  nav > section:nth-child(1),
  nav > section:nth-child(3) {
    @apply flex items-center;
  }
</style>
