---
import { Icon } from 'astro-icon/components';
import ThemeToggle from './ThemeToggle.astro';
import { menuItems, socialLinks, SITE_TITLE } from '@config';
import Logo from './Logo.astro';
---

<nav class="border-border bg-fill hidden grid-cols-3 items-center border-b px-6 py-4 md:grid">
  <div class="flex items-center justify-start gap-2">
    [<a href="/" class="flex items-center gap-2">
      <Logo size={32} />
      <span class="text-primary text-xl font-bold">{SITE_TITLE}</span>
    </a>]
  </div>
  <div class="flex items-center justify-center">
    {
      menuItems
        .filter((item) => item.active)
        .map((item) => (
          <a
            href={item.url}
            class="hover:text-primary dark:hover:text-primary px-4 text-gray-800 transition-colors dark:text-gray-200"
          >
            {item.title}
          </a>
        ))
    }
  </div>

  <div class="flex items-center justify-end space-x-4">
    {
      socialLinks.map((link) => (
        <a
          href={link.url}
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-primary dark:hover:text-primary text-gray-600 transition-colors dark:text-gray-400"
          aria-label={link.platform}
        >
          <Icon name={link.icon} size={24} />
        </a>
      ))
    }

    <ThemeToggle />
  </div>
</nav>
